<div class="form-group">
    <div class="col-sm-3">
        <label>Location:</label>
    </div>
    <div class="col-sm-8">
        <textarea id="location" class="form-control">{{ address }}</textarea>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        <label>Circuit ID's:</label>
    </div>
    <div class="col-sm-8">
        <select class="form-control" id="circuit_id" multiple style="height: 100px" disabled>
            {% for item in circuits %}
                <option selected value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        <label>OS Co-ords:</label>
    </div>
    <div class="col-sm-4">
        <input type="text" id="ns_ord" class="form-control" value="{{ north }}">
    </div>
    <div class="col-sm-4">
        <input type="text" id="we_ord" class="form-control" value="{{ west }}">
    </div>
</div>