{% extends 'dashboard/base.html' %}

{% block content %}

    <section class="content">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-6 col-xl-offset-3 offset-xl-3">
                <div class="box box-info cu_box" style="background: none">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/maintain_splice_circuit">Maintain Splice and Circuit Data</a></div>
                            </div>
                                </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 40px">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/search_splice_database">Search Splice database</a></div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/create_planned_maintenance">Create a planned maintenance</a></div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 40px">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/update_planned_maintenance">Update a planned maintenance</a></div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/create_reactive_maintenance">Create a reactive maintenance</a></div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="menu_dv"><a href="/update_reactive_maintenance">Close an reactive maintenance</a></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}